addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
albucore==0.0.12
albumentations==1.4.12
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
bokeh==3.1.1
braceexpand==0.1.7
Brotli==1.1.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.30.1
cmeel==0.53.3
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.1.1
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
docker-pycreds==0.4.0
eigenpy==3.5.1
einops==0.8.0
entrypoints==0.4
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
filelock==3.15.4
Flask==3.0.3
fonttools==4.53.1
fqdn==1.5.1
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
fvcore==0.1.5.post20221221
g4f==0.3.2.2
gitdb==4.0.11
GitPython==3.1.43
GPUtil==1.4.0
h11==0.14.0
h5py @ file:///croot/h5py_1691589708553/work
hpp-fcl==2.4.4
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.2
idna==3.7
imageio==2.34.2
imgaug==0.4.0
importlib_metadata==8.2.0
importlib_resources==6.4.0
iopath==0.1.10
ipycanvas==0.13.2
ipyevents==2.0.2
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
-e git+https://github.com/NVIDIAGameWorks/kaolin.git@c7593f0851f49f2b203f9789d44c61b15d788daf#egg=kaolin
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.5
lazy_loader==0.4
lit==18.1.8
llvmlite==0.41.1
loguru==0.7.2
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.7.5
matplotlib-inline==0.1.7
meshcat==0.3.2
mistune==3.0.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1.1
nodejs==0.1.1
notebook_shim==0.2.4
numba==0.58.1
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nvdiffrast @ file:///root/projects/ai_sdks/nvdiffrast-main
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
objaverse==0.1.7
omegaconf==2.3.0
open3d==0.18.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
optional-django==0.1.0
overrides==7.7.0
packaging==24.1
Panda3D==1.10.14
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pin==2.7.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==5.23.0
portalocker==2.10.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.3.14
pyarrow==17.0.0
pybind11==2.13.1
pybullet==3.2.6
pycocotools==2.0.7
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pyglet==2.0.16
pygltflib==1.16.2
Pygments==2.18.0
pyngrok==7.2.0
PyOpenGL==3.1.0
pyparsing==3.1.2
pypng==0.20220715.0
pyquaternion==0.9.9
pyrealsense2==2.55.1.6486
pyrender==0.1.45
pysdf==0.1.9
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch3d @ file:///root/projects/ai_sdks/pytorch3d-stable/dist/pytorch3d-0.7.7-cp38-cp38-linux_x86_64.whl#sha256=9b14ab1307ab170f1491b406bb36fea925e366d0dfa5e2cabaee3575250ec17b
PyTurboJPEG @ file:///root/projects/ai_sdks/PyTurboJPEG-master
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roma==1.5.0
rpds-py==0.19.1
Rtree==1.3.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
segment_anything @ file:///root/projects/ai_sdks/segment-anything-main
Send2Trash==1.8.3
sentry-sdk==2.11.0
setproctitle==1.3.3
shapely==2.0.5
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.8
tinycss2==1.3.0
tomli==2.0.1
torch @ file:///root/projects/ai_sdks/foundationpose_sdk/torch-2.0.0%2Bcu118-cp38-cp38-linux_x86_64.whl#sha256=1f8efaebfcbb7ec3962fd8c7c3be02c6666eff53a12043006a749d647656163e
torchaudio==2.0.1+cu118
torchnet==0.0.4
torchvision==0.15.1+cu118
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformations==2022.9.26
trimesh==4.4.3
triton==2.0.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
u-msgpack-python==2.8.0
ultralytics==8.0.120
uri-template==1.3.0
urllib3==2.2.2
usd-core==24.8
videoio==0.2.8
visdom==0.2.4
wandb==0.17.5
warp-lang==1.3.1
wcwidth==0.2.13
webcolors==24.6.0
webdataset==0.2.86
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xatlas==0.0.9
XlsxWriter==3.2.0
xyzservices==2024.6.0
yacs==0.1.8
yarl==1.9.4
zipp==3.19.2
